In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="demo@123"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x104aaf588>

In [10]:
mycursor = mydb.cursor()
mycursor

In [11]:
mycursor.execute("CREATE DATABASE air")

In [13]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('air',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="demo@123",
  database="air"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x104aafcc0>

In [15]:
mycursor = mydb.cursor()
mycursor

In [16]:
mycursor.execute("CREATE TABLE cyclist (name VARCHAR(255), club VARCHAR(255), air_no INT)")

In [18]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('cyclist',)

In [23]:
def drop_all_tables(cursor):
    cursor.execute('''DROP TABLE *''')

In [24]:
def create_cyclist_table(cursor):
    cursor.execute('''CREATE TABLE cyclist (
                   name VARCHAR(255) PRIMARY KEY,
                   club VARCHAR(255),
                   air_no INT)''')

In [26]:
drop_all_tables(mycursor)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '*' at line 1